
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
              "loadbalancer": { "unique": true, "count": 2 } } 
    node_selector($('#drag_drop'), constraints)
  });

