
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
              "lb-master": { "unique": true, "count": 1 },
              "lb-slave": { "unique": true, "count": 1 }
    };
    node_selector($('#drag_drop'), constraints)
  });

